
.main{
    display: block;
    margin: auto;
    background: #999988;
    border-radius: 5px;
}
li{
    list-style: none;
    
    display:inline;
    margin: 10px;
}
.main li a{
    padding: 10px;
    text-decoration: none;
    
    color: black;
    border-radius: 5px;
}
.main li a:hover{
    color:red;
    
}
.Header .navbar-brand img{
   width:70px;
   height:70px;
   border-radius: 50%;
}
.dragon{
    display: block;
    margin: auto;
}
.carousel-item img{
    width: 500px;
    height: 586px;
} 
.Header .container .imagen img{
    width: 200px;
    height: auto;
}
.Header .portafolio{
    display: grid;
    grid-template-columns: 300px auto;
}
.foto{
    
}
.foto img{
    width:200px;
    height: auto;
    border-radius:50%;
}
.Header .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}